.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.login-img{
    width: 50vw;
    margin-bottom: 10vh;
}

.login-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}