.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: url("../assets/OIG2.jpg");
    background-repeat: repeat-y;
    background-position-x: center;
}

.searchBar{
    text-align: center;
    width: 25vw;
    margin-top: 3vh;
    background-color: rgba(169, 169, 169, 0.075);
    border: solid 1px white;
    color: white;
}

.album{
    padding: 2vw;
    width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.album-presentation{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 5vh;
}

.album-buttons{
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.album-details{
    width: 14vw;
    height: 14vw;
    border: 0.1rem solid darkgrey;
    padding: 1rem;
    border-radius: 30px;
    margin-left: 2vw;
    margin-right: 2vw;
    cursor: pointer;
}

.album-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.image{
    width: 95%;
    height: auto;
}

.title{
    font-style: italic;
    overflow: hidden;
}

.form-title{
    padding-bottom: 5vh;
}

.form-div{
    padding-bottom: 1vh;
}

.form-div textarea {
    width: 75vw;
    height: 25vh;
    padding: 2vh;
}

input{
    padding: 1vh;
    border-radius: 10px;
    text-align: center;
}